# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# Platform build outputs
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
*.log
